@import "normalize";

$color-1: #1ea99079;
$color-2: #3c5c85cb;
$color-3: #570f84ce;
$color-4: #6d0490c9;
$color-5: #6F2796c9;
$color-6: #572987c9;
$color-7: #460B7Fc9;
$color-8: #3c1b6a;
$color-9: #170333;
$color-hover: #A13E8E;
$color-focus: #673C93;
$color-shadow: #3C1B6A;
$color-footer: #AC8DCC;
$color-section-title: #AC8DCC;
$color-section-text: #FFCF7E;
$color-header-img: #AC8DCC;
$font-body: 'Roboto', sans-serif;
$font-header: 'Lato', sans-serif;
$radius: 2rem;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background:
        radial-gradient($color-1 25%, transparent 50%),
        radial-gradient($color-2 25%, transparent 50%),
        radial-gradient($color-3 25%, transparent 50%),
        radial-gradient($color-4 25%, transparent 50%),
        radial-gradient($color-5 25%, transparent 50%),
        radial-gradient($color-6 25%, transparent 50%),
        radial-gradient($color-7 25%, transparent 50%);
    background-size: 88% 77%, 89% 58%, 123% 66%, 135% 72%;
    background-position: 500% -214%, -387% -11%, -203% 61%, 154% 264%;
    background-repeat: no-repeat;
    background-color: $color-9;
}

#homeBtn:hover,
#connectWalletBtn:hover,
.menuTitles:hover,
.fa-brands:hover,
#dappLaunchBtn:hover,
.interfaceBtns:hover {
    cursor: pointer
}

#bodyApp {
    background-size: 88% 77%, 102% 197%, 99% 217%, 135% 72%;
    background-position: 546% -305%, 2699% 101%, 4900% 4%, 175% 347%;
}

#dappLaunchBtn,
#connectWalletBtn {
    color: #FFB12D;
    transition: 0.25s;
    background: none;
    border: 0.125rem solid;
    font-family: $font-body;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: $radius;

    &:hover,
    &:focus {
        border-color: $color-focus;
        color: $color-hover;
        box-shadow: -0.187rem 0.5rem 1.25rem -0.25rem $color-shadow;
        transform: translateY(-0.25rem);
    }
}

#header {
    backdrop-filter: blur(0.9375rem);
    display: flex;
    position: fixed;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 10;
    top: 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

#homeBtnImg {
    width: 3.125rem;
    height: 3.125rem;
}

.imgImg {
    border-style: none;
    width: 15rem;
    border-radius: 2rem;
}

#main {
    max-width: 50rem;
    margin: auto;
    padding-bottom: 10rem;
    padding-top: 6.25rem;
    min-height: 100vh;
}


#footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    padding: 0 0 2.875rem;
    vertical-align: baseline;
}

#footerInfo {
    color: $color-footer;
    font-family: $font-header;
}

.footerUl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5REM;
    white-space: 1rem;
    gap: 1rem;
    list-style: none;
}

.footerLi {
    color: $color-footer;
}

.section {
    min-height: 100vh;
    text-align: center;
}

.sectionTitles {
    font-size: 5.625rem;
    line-height: 5.625rem;
    color: $color-section-title;
    font-family: $font-header;
    padding-top: 5rem;
}

.sectionBottomTitle {
    font-size: 3.625rem;
    color: $color-section-title;
    font-family: $font-header;
    padding-top: 5rem;
    position: absolute;
    top: -13rem;
    left: 0;
    right: 0;
}

.sectionOneSmallText {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $color-section-text;
    font-family: $font-body;
}

.sectionBottomPage {
    display: flex;
    position: relative;
    width: 79rem;
    height: 31rem;
    /* left: -19rem; */
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: rgba(172, 141, 204, 0.168627451);
    border: 1px solid rgba(137, 24, 207, 0.1529411765);
    border-radius: 0.5rem;
    margin-top: 7rem;
    margin-left: -14rem;
}

.teamImg {
    height: 20rem;
    width: 20rem;
}

.imgCardName {
    position: absolute;
    top: 21rem;
    width: 15rem;
    height: 6rem;

    text-align: start;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFCF7E;
    font-family: "Lato", sans-serif;
}

.imgCardText {
    position: absolute;
    top: 23rem;
    width: 15rem;
    height: 6rem;

    text-align: start;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFCF7E;
    font-family: "Roboto", sans-serif;
}

#howToGuideTxt {
    text-align: start;
    /* margin-bottom: 20rem; */
    /* height: 21rem; */
    width: 59rem;
    left: 10rem;
    align-items: center;

}

#headerImg {
    color: $color-header-img;
    font-size: 1.875rem;
}

.menuTitles {
    color: #AC8DCC;
    font-size: 2.5rem;
    list-style-type: none;
    font-family: $font-header;
    padding: 0rem 1rem;
}

#interfaceSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    border: 0.3rem solid rgba(103, 60, 147, 0.0549019608);
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: rgba(13, 1, 29, 0.6901960784);
    margin-left: 8.9rem;
    left: -10rem;
}

.bottomInterface {
    position: absolute;
    height: 35rem;
    width: 41rem;
    padding-top: 2rem;
    left: 0;
    top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(13, 1, 29, 0.6901960784);
    border-radius: 2rem;
    border: 0.3rem solid rgba(103, 60, 147, 0.0549019608);
    // animation: fadeIn 1s;

}

.inputStyling {
    width: 39rem;
    max-width: 41rem;
    height: 10.5rem;
    border-radius: $radius;
    background-color: $color-9;
    border-color: $color-8;
    font-size: 2rem;
    font-family: $font-body;
    color: $color-footer;
    resize: none;
    text-align: center;
}

.inputStyling:hover {
    outline: 1px solid #673c9335;
    box-shadow: 0px 0px 20px -16px $color-focus;
}

.inputStyling:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.interfaceBtns {
    width: 39rem;
    height: 6rem;
    border: 2px #3C5C85 outset;
    border-radius: 20px;
    background-color: #3C1B6A;
    color: $color-section-title;
    font-family: $font-body;
    font-size: 2em;
    margin-bottom: 1rem;

    &:hover {
        border: 2px #3C5C85 inset;
    }
}

.collateralInputDiv {
    width: 39rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interfaceTxt {
    padding-left: 1rem;
    color: $color-section-title;
    font-family: $font-body;
    font-size: 2em;
}

summary:hover {
    outline: 0.08rem solid $color-9;
    border-radius: $radius;
    background-color: #6d049041;
    box-shadow: 1px 2px 55px -27px $color-hover;

}

details[open] {
    outline: 0.08rem solid $color-9;
    border-radius: $radius;
    background-color: #6d049041;
    box-shadow: 1px 2px 55px -27px $color-hover;

    .inputStyling,
    .interfaceBtns,
    .interfaceTxt {
        animation: fadeIn 1.6s;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}