@import "normalize";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: radial-gradient(var(--color-1) 25%, transparent 50%),
        radial-gradient(var(--color-2) 25%, transparent 50%),
        radial-gradient(var(--color-3) 25%, transparent 50%),
        radial-gradient(var(--color-4) 25%, transparent 50%),
        radial-gradient(var(--color-5) 25%, transparent 50%),
        radial-gradient(var(--color-6) 25%, transparent 50%),
        radial-gradient(var(--color-7) 25%, transparent 50%);
    background-size: 88% 77%, 89% 58%, 123% 66%, 135% 72%;
    background-position: 500% -214%, -387% -11%, -203% 61%, 154% 264%;
    background-repeat: no-repeat;
    background-color: #170333;
    --color-1: #1ea990c9;
    --color-2: #3c5c85cb;
    --color-3: #570f84ce;
    --color-4: #6d0490c9;
    --color-5: #6F2796c9;
    --color-6: #572987c9;
    --color-7: #460B7Fc9;
    --color-8: #3C1B6Ac9;
}

button {
    color: #FFB12D;
    transition: 0.25s;
    background: none;
    border: 0.125rem solid;
    font-family: 'Roboto';
    margin: 0.5em;
    padding: 1em 2em;

    &:hover,
    &:focus {
        border-color: #673C93;
        color: #A13E8E;
    }
}

button:hover,
button:focus {
    box-shadow: -0.187rem 0.5rem 1.25rem -0.25rem #3C1B6A;
    transform: translateY(-0.25rem);
}


#header {
    backdrop-filter: blur(0.9375rem);
    display: flex;
    position: fixed;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 10;
    top: 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#main {
    max-width: 50rem;
    margin: auto;
    padding-bottom: 10rem;
    padding-top: 6.25rem;
    min-height: 100vh;
}


#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    padding: 0 0 2.875rem;
    vertical-align: baseline;

}

#footerInfo {
    color: #AC8DCC;
    font-family: 'Lato', sans-serif
}

.section {
    min-height: 100vh;
    text-align: center;
}

.sectionTitles {
    font-size: 5.625rem;
    line-height: 5.625rem;
    color: #AC8DCC;
    font-family: 'Lato', sans-serif
}

#sectionOneSmallText {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFCF7E;
    font-family: 'Roboto';
}

#headerImg {
    color: #AC8DCC;
    font-size: 1.875rem;

}