// Define some global variables for color and typography
$primary-color: #4E148C;
$primary-color-light: #9A83D8;
$primary-color-dark: #2C0735;
$second-color: #F3A712;
$third-color: #171512;
$body-font: 'Ubuntu', sans-serif;

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    background-image: url(/imgs/fractalsouter.png);
    background-size: 400% 400%;
    animation: gradient 150s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.formHidden {
    display: none;
    outline: 5px solid white;
}

#otherContentWrapper {
    width: 90vw;
    height: 87vh;
    outline: 1px solid black;
    margin-top: 50px;
    margin-left: 80px;
    box-shadow: 0px 15px 33px 6px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 0px 15px 33px 6px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0px 15px 33px 6px rgba(0, 0, 0, 0.5);
    background-color: #9A83D8;
    border-radius: 20px;
    background-image: url(/imgs/fractalsfirstbox.png);
    background-repeat: no-repeat;
    background-position: center top;
}



#createPromiseDiv {
    outline: 1px solid black;
    width: 586px;
    height: 243px;
    position: absolute;
    left: 379px;
    top: 372px;
    display: none;
}

#joinPromiseDiv {
    outline: 1px solid black;
    width: 586px;
    height: 243px;
    position: absolute;
    left: 379px;
    top: 372px;
    display: none;
}

#endPromiseDiv {
    outline: 1px solid black;
    width: 586px;
    height: 243px;
    position: absolute;
    left: 379px;
    top: 372px;
    display: none;
}

#currencyDiv {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
    position: absolute;
    right: 162px;
    top: 99px;
    border-radius: 20px;
    background-color: $primary-color-dark;
    box-shadow: 0px 15px 33px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 15px 33px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 33px 6px rgba(0, 0, 0, 0.5);
}

#navigationMenu {
    outline: 1px solid black;
    height: 33rem;
    width: 38rem;
    left: 425px;
    top: 126px;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #2C0735;
    border-radius: 20px;
    box-shadow: 0px 15px 33px 6px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 0px 15px 33px 6px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0px 15px 33px 6px rgba(0, 0, 0, 0.5);
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

// Style the "Connect Wallet" button
button {
    background-color: #7c6d93;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    padding: 0.5rem 3rem;
    border-radius: 20px;
    margin-bottom: 27rem;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

#createPromiseDivExitBtn,
#joinPromiseDivExitBtn,
#endPromiseDivExitBtn {
    top: 0;
    right: 0;
    position: absolute;
}



.walletConnectBtn {
    position: absolute;
    right: 642px;
    top: 350px;

}

// Style the form elements
input {
    font-family: $body-font;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.textStyle {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin-left: 22px;
    margin-bottom: 8px;
}

// Style the submit buttons
.submit-btn {
    background-color: $primary-color;
    color: white;
    font-family: $body-font;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin: 0.5rem;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}